.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-wrapper {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 130vh;
  justify-content: center;
  width: 130vw;
}

.App-wrapper.mainmenu {
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game-board-wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  height: 46.3vw;
  justify-content: center;
  width: 100vw;
}

.Main-menu-wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  height: 46.3vw;
  justify-content: center;
  min-height: 46.3vw;
  min-width: 100vw;
}

.Title-wrapper {
  text-shadow: 4px 4px 6px black;
}

@media screen and (orientation: landscape) {
  .Title-wrapper {
    font-size: 5vw;
    margin-bottom: 10vh;
  }
}

@media screen and (orientation: portrait) {
  .Title-wrapper {
    font-size: 10vw;
    margin-bottom: 4vh;
  }
}

.Menu-button-wrapper {
  display: flex;
  flex-direction: column;
}

.Local-multiplayer-button, .Online-multiplayer-button {
  background-color: rgb(111 143 204);
  border-color: rgb(52 89 132);
  border-radius: 1vw;
  border-width: 0.5vw;
  font-family: 'Barlow', sans-serif;
  margin: 2vh;
}

@media screen and (orientation: landscape) {
  .Local-multiplayer-button, .Online-multiplayer-button {
    height: 15vh;
    width: 25vw;
  }
}

@media screen and (orientation: portrait) {
  .Local-multiplayer-button, .Online-multiplayer-button {
    height: 9vh;
    width: 50vw;
  }
}

.Game-board-half {
  background-color:rgb(45, 105, 155);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 40%;
}

.Game-board-quadrant {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  width: 100%;
}

.Game-board-quadrant.bottom {
  align-items: flex-end;
}

.Game-board-bar {
  background-color:rgb(32, 78, 5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 4%;
}

.Game-board-home {
  background-color:rgb(32, 78, 5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 5%;
}

.Point-wrapper {
  display: flex;
  position: relative;
  height: 87%;
  width: 17%;
}

.Point-wrapper-highlight {
  height: 100%;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  z-index: 1;
}

.Point-wrapper-highlight.from {
  background-color: #e4cb6454;
}

.Point-wrapper-highlight.to {
  background-color: #2ac4b154;
}

.Point-wrapper-highlight.bottom {
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

.Point-wrapper-highlight.top {
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

.Point-triangle {
  height: 100%;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  z-index: 1;
}

.Point-triangle.even {
  background-color: rgb(122, 96, 22);
}

.Point-triangle.odd {
  background-color: rgb(156, 141, 100);
}

.Point-triangle.bottom {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.Point-triangle.top {
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.Checkers-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.Checkers-wrapper.top {
  flex-direction: column;
}

.Checkers-wrapper.bottom {
  flex-direction: column-reverse;
}

.Point {
  height: 41vh;
  width: 15%;
}

.Checker {
  border-radius: 50%;
  padding-top: 50%;
  width: 50%;
}

.Checker.white {
  background-color: rgb(226, 213, 223);
}

.Checker.black {
  background-color: rgb(56, 48, 27);
}

.Player-one-bar-checkers, .Player-two-bar-checkers {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47.5%;
}

.Player-one-bar-checkers {
  justify-content: flex-end;
}

.Player-two-bar-checkers {
  justify-content: flex-start;
}

.Game-board-bar-spacer {
  height: 5%
}

.Player-one-bar-checkers .Checker, .Player-two-bar-checkers .Checker {
  border-radius: 50%;
  padding-top: 83.5%;
  width: 83.5%;
}

.Player-one-home-checkers, .Player-two-home-checkers {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47.5%;
}

.Player-one-home-checkers {
  justify-content: flex-end;
}

.Player-one-home-checkers.highlighted {
  background-color: #2ac4b154;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.Player-two-home-checkers.highlighted {
  background-color: #2ac4b154;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.Game-board-home-spacer {
  height: 5%;
}

.Player-one-home-checkers .Checker, .Player-two-home-checkers .Checker {
  border-radius: 15%;
  height: 4%;
  margin-bottom: 3%;
  margin-top: 3%;
  padding-top: 0;
  width: 70%;
}

.Dice {
  display: flex;
  height: 10%;
  justify-content: center;
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 3;
}

.Die {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  width: 11.6%;
}

.Die.white {
  background-color: rgb(226, 213, 223);
}

.Die.black {
  background-color: rgb(56, 48, 27);
}

.Submit-button-wrapper {
  height: 100%;
  margin-left: 2.5%;
  width: 12%;
}

.Submit-button {
  height: 100%;
  width: 100%;
}

.Undo-button-wrapper {
  height: 100%;
  margin-right: 2.5%;
  width: 12%;
}

.Undo-button {
  height: 100%;
  width: 100%;
}

.mainmenu .Settings-menu-button-wrapper {
  right: 2vw;
}

.Settings-menu-button-wrapper {
  position: absolute;
  right: -28vw;
  top: 2vw;
}

.Settings-menu .modal-content {
  background-color:rgb(132, 171, 203);
  border: 0.5vw solid rgb(78, 96, 124);
  font-family: 'Barlow', sans-serif;
}

.Settings-menu .modal-header {
  border-bottom: 1px solid rgb(78, 96, 124);
}

.Settings-menu .modal-footer {
  border-top: 1px solid rgb(78, 96, 124);
}

.Settings-menu .modal-body {
  padding: 0;
}

.Settings-menu .modal-footer .btn {
  background-color: #4e607c;
  border-color: rgb(78, 96, 124);
}

.Settings-menu .Settings-option-row {
  border-bottom: 1px solid rgb(78, 96, 124);
  display: flex;
  justify-content: space-between;
  padding: 4vh;
}

.Settings-menu .Settings-option-row.bottom {
  border-bottom: none;
}

.Settings-menu-checker-wrapper, .Settings-option-arrow-wrapper {
  height: 3vw;
  width: 3vw;
}

.Settings-menu-checker-wrapper .Checker {
  padding-top: 100%;
  width: 100%;
}

.Settings-option-arrow {
  background-size: contain;
  height: 100%;
  width: 100%;
}

.Settings-option-arrow.clockwise {
  background: url(clockwise-arrow.svg) no-repeat top left;
}

.Settings-option-arrow.counterclockwise {
  background: url(counterclockwise-arrow.svg) no-repeat top left;
}

.Settings-menu-button {
  background: url(gear.svg) no-repeat top left;
  background-size: contain;
}

@media screen and (orientation: landscape) {
  .Settings-menu-button {
    height: 3vw;
    width: 3vw;
  }
}

@media screen and (orientation: portrait) {
  .Settings-menu-button {
    height: 3vh;
    width: 3vh;
  }
}

.Game-over-dialog .modal-content {
  background-color:rgb(132, 171, 203);
  border: 0.5vw solid rgb(78, 96, 124);
  font-family: 'Barlow', sans-serif;
}

.Game-over-dialog .modal-header {
  border-bottom: 1px solid rgb(78, 96, 124);
  justify-content: center;
}

.Game-over-dialog .modal-title {
  font-size: 3.5vw;
}

.Game-over-dialog .modal-body {
  text-align: center;
}

.Game-over-dialog .modal-footer {
  border-top: 1px solid rgb(78, 96, 124);
  justify-content: center;
}

.Game-over-dialog .modal-footer .btn {
  background-color: #4e607c;
  border-color: rgb(78, 96, 124);
}