.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-wrapper {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.App-wrapper.mainmenu {
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Begin-game-button {
  background-color: rgb(111 143 204);
  border-color: rgb(52 89 132);
  border-radius: 1vw;
  border-style: solid;
  border-width: 0.5vw;
  font-family: 'Barlow', sans-serif;
  font-size: max(2vh, 2vw);
  padding: 0.5vh;
  text-align: center;
  width: 14vw;
}

.Roll-button, .Offer-double-button, .Forfeit-game-button, .Accept-double-button {
  background-color: rgb(111 143 204);
  border-color: rgb(52 89 132);
  border-radius: 1vw;
  border-style: solid;
  border-width: 0.5vw;
  font-family: 'Barlow', sans-serif;
  font-size: max(1.5vh, 1.5vw);
  padding: 0.5vh;
  text-align: center;
  width: 10vw;
}

.Game-board-wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  height: 36.92vw;
  justify-content: center;
  width: 80vw;
}

.Main-menu-wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  height: 46.3vw;
  justify-content: center;
  min-height: 46.3vw;
  min-width: 100vw;
}

.Title-wrapper {
  text-shadow: 4px 4px 6px black;
}

@media screen and (orientation: landscape) {
  .Title-wrapper {
    font-size: 5vw;
    margin-bottom: 10vh;
  }
}

@media screen and (orientation: portrait) {
  .Title-wrapper {
    font-size: 10vw;
    margin-bottom: 4vh;
  }
}

.Menu-button-wrapper {
  display: flex;
  flex-direction: column;
}

.Local-multiplayer-button, .Online-multiplayer-button {
  background-color: rgb(111 143 204);
  border-color: rgb(52 89 132);
  border-radius: 1vw;
  border-width: 0.5vw;
  font-family: 'Barlow', sans-serif;
  font-size: max(2vh, 2vw);
  margin: 2vh;
}

@media screen and (orientation: landscape) {
  .Local-multiplayer-button, .Online-multiplayer-button {
    height: 15vh;
    width: 25vw;
  }
}

@media screen and (orientation: portrait) {
  .Local-multiplayer-button, .Online-multiplayer-button {
    height: 9vh;
    width: 50vw;
  }
}

.Player-cards-wrapper {
  display: flex;
  height: 6vh;
  margin-left: 5.5%;
  margin-right: 5.5%;
  width: 89%;
}

.Player-card-wrapper {
  color: #b8b8b8;
  display: flex;
  justify-content: center;
  width: 50%;
}

.Player-card-checker-wrapper {
  display: flex;
  height: 6vh;
  width: 6vh
}

.Player-card-checker-wrapper .Checker {
  margin: 20% 20%;
  height: 60%;
  width: 60%;
}

.Player-name-and-score-wrapper {
  display: flex;
  flex-direction: column;
}

.Player-name-wrapper {
  font-size: 2vh;
  font-weight: bold;
  height: 50%;
}

.Player-score-wrapper {
  display: flex;
  font-size: 1.5vh;
  height: 50%;
}

.Player-points-wrapper {
  margin-left: 1vw;
}

.Information-text-wrapper {
  margin-left: 5.5%;
  margin-right: 5.5%;
  width: 89%;
  height: 4vh;
}

.Information-text {
  color: #b8b8b8;
}

.Game-board-half {
  background-color:rgb(45, 105, 155);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 40%;
}

.Game-board-quadrant {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  width: 100%;
}

.Game-board-quadrant.bottom {
  align-items: flex-end;
}

.Game-board-bar {
  background-color:rgb(32, 78, 5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 4%;
}

.Game-board-home {
  background-color:rgb(32, 78, 5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 5%;
}

.Point-wrapper {
  display: flex;
  position: relative;
  height: 87%;
  width: 16.667%;
}

.Point-wrapper-highlight {
  height: 100%;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  z-index: 1;
}

.Point-wrapper-highlight.from {
  background-color: #e4cb6454;
}

.Point-wrapper-highlight.to {
  background-color: #2ac4b154;
}

.Point-wrapper-highlight.noMove {
  animation-duration: 1s;
  animation-name: nomove;
}

@keyframes nomove {
  from {
    background-color: #c7262154;
  }

  to {
    background-color: none;
  }
}

.Point-wrapper-highlight.bottom {
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

.Point-wrapper-highlight.top {
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

.Point-triangle {
  height: 100%;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  z-index: 1;
}

.Point-triangle.even {
  background-color: rgb(122, 96, 22);
}

.Point-triangle.odd {
  background-color: rgb(156, 141, 100);
}

.Point-triangle.bottom {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.Point-triangle.top {
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.Checkers-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.Checkers-wrapper.top {
  flex-direction: column;
}

.Checkers-wrapper.bottom {
  flex-direction: column-reverse;
}

.Point {
  height: 41vh;
  width: 15%;
}

.Checker {
  border-radius: 50%;
  transition: transform 0.3s ease-out;
  height: 16.667%;
  width: 50%;
  z-index: 4;
}

.Checker.highlighted {
  border: 3px solid #3ba000;
  border-style: dashed;
}

.Checker.selected {
  border: 3px solid #cb0d0d;
  border-style: dashed;
}

.Checker.white {
  background-color: rgb(226, 213, 223);
}

.Checker.black {
  background-color: rgb(56, 48, 27);
}

.Player-one-bar-checkers, .Player-two-bar-checkers {
  align-items: center;
  display: flex;
  height: 47.5%;
}

.Player-one-bar-checkers {
  flex-direction: column-reverse;
}

.Player-two-bar-checkers {
  flex-direction: column;
}

.Player-one-bar-checkers.highlight {
  background-color: #e4cb6454;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

.Player-two-bar-checkers.highlight {
  background-color: #e4cb6454;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

.Game-board-bar-spacer {
  height: 5%
}

.Player-one-bar-checkers .Checker, .Player-two-bar-checkers .Checker {
  border-radius: 50%;
  height: 15.23%;
  width: 83.5%;
}

.Player-one-home-checkers, .Player-two-home-checkers {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47.5%;
}

.Player-one-home-checkers {
  justify-content: flex-end;
}

.Player-one-home-checkers.highlighted {
  background-color: #2ac4b154;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.Player-two-home-checkers.highlighted {
  background-color: #2ac4b154;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.Game-board-home-spacer {
  height: 5%;
}

.Player-one-home-checkers .Checker, .Player-two-home-checkers .Checker {
  border-radius: 15%;
  height: 4%;
  margin-bottom: 3%;
  margin-top: 3%;
  padding-top: 0;
  width: 70%;
}

.Submit-button-wrapper, .Undo-button-wrapper, .Dice-row-spacer {
  height: 4vw;
  width: 4vw;
}

.Submit-button {
  background: url(submit-button.svg) no-repeat top left;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.Undo-button {
  background: url(undo-button.svg) no-repeat top left;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.mainmenu .Settings-menu-button-wrapper {
  right: 2vw;
}

.Settings-menu-button-wrapper {
  position: absolute;
  right: 2vw;
  top: 2vw;
}

.Settings-menu .modal-content {
  background-color:rgb(132, 171, 203);
  border: 0.5vw solid rgb(78, 96, 124);
  font-family: 'Barlow', sans-serif;
}

.Settings-menu .modal-header {
  border-bottom: 1px solid rgb(78, 96, 124);
}

.Settings-menu .modal-footer {
  border-top: 1px solid rgb(78, 96, 124);
}

.Settings-menu .modal-body {
  padding: 0;
}

.Settings-menu .modal-footer .btn {
  background-color: #4e607c;
  border-color: rgb(78, 96, 124);
}

.Settings-menu .Settings-option-row {
  border-bottom: 1px solid rgb(78, 96, 124);
  display: flex;
  justify-content: space-between;
  padding: 4vh;
}

.Settings-menu .Settings-option-row.bottom {
  border-bottom: none;
}

.Settings-menu-checker-wrapper, .Settings-option-arrow-wrapper {
  height: 3vw;
  width: 3vw;
}

.Settings-menu-checker-wrapper .Checker {
  padding-top: 100%;
  width: 100%;
}

.Settings-option-arrow {
  background-size: contain;
  height: 100%;
  width: 100%;
}

.Settings-option-arrow.clockwise {
  background: url(clockwise-arrow.svg) no-repeat top left;
}

.Settings-option-arrow.counterclockwise {
  background: url(counterclockwise-arrow.svg) no-repeat top left;
}

.Settings-menu-button {
  background: url(gear.svg) no-repeat top left;
  background-size: contain;
}

@media screen and (orientation: landscape) {
  .Settings-menu-button {
    height: 3vw;
    width: 3vw;
  }
}

@media screen and (orientation: portrait) {
  .Settings-menu-button {
    height: 3vh;
    width: 3vh;
  }
}

.Game-over-dialog .modal-content {
  background-color:rgb(132, 171, 203);
  border: 0.5vw solid rgb(78, 96, 124);
  font-family: 'Barlow', sans-serif;
}

.Game-over-dialog .modal-header {
  border-bottom: 1px solid rgb(78, 96, 124);
  justify-content: center;
}

.Game-over-dialog .modal-title {
  font-size: 3.5vw;
}

.Game-over-dialog .modal-body {
  text-align: center;
}

.Game-over-dialog .modal-footer {
  border-top: 1px solid rgb(78, 96, 124);
  justify-content: center;
}

.Game-over-dialog .modal-footer .btn {
  background-color: #4e607c;
  border-color: rgb(78, 96, 124);
}

/********
 * DICE *
 ********/
 .Dice,
 .Begin-game-button-wrapper,
 .Roll-button-wrapper,
 .Offer-double-button-wrapper,
 .Accept-double-menu-wrapper {
  align-items: center;
  display: flex;
  height: 3.69vw;
  left: 10%;
  justify-content: space-evenly;
  position: absolute;
  top: 45%;
  width: 80%;
  z-index: 3;
}

.Die-faces {
  align-items: center;
  display: flex;
  height: 4vw;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 1.3s ease-out;
  width: 4vw;
}

.Die-face {
  border: 0.3vw solid #ffffff69;
  color: white;
  display: grid;
  gap: 0.4vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 0.2vw;
  position: absolute;
  width: 100%;
}

.Die-faces.white .Die-face {
  background-color: rgb(226, 213, 223);
}

.Die-faces.black .Die-face {
  background-color: rgb(56, 48, 27);
}

.Die-faces.white.spent .Die-face, .Die-faces.black.spent .Die-face {
  display: none;
}

.Die-faces.white.spent.one .Die-face.one,
.Die-faces.white.spent.two .Die-face.two,
.Die-faces.white.spent.three .Die-face.three,
.Die-faces.white.spent.four .Die-face.four,
.Die-faces.white.spent.five .Die-face.five,
.Die-faces.white.spent.six .Die-face.six {
  background-color: rgba(226, 213, 223, 0.25);
  display: grid;
}

.Die-faces.black.spent.one .Die-face.one,
.Die-faces.black.spent.two .Die-face.two,
.Die-faces.black.spent.three .Die-face.three,
.Die-faces.black.spent.four .Die-face.four,
.Die-faces.black.spent.five .Die-face.five,
.Die-faces.black.spent.six .Die-face.six {
  background-color: rgb(56, 48, 27, 0.25);
  display: grid;
}

.Die-pip {
  border-radius: 50%;
  height: 95%;
  width: 95%;
}

.Die-faces.white .Die-pip {
  background-color: black;
}

.Die-faces.black .Die-pip {
  background-color: white;
}

.Die-faces.one, .Die-faces.one.black.reroll {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.Die-faces.two, .Die-faces.two.black.reroll {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.Die-faces.three, .Die-faces.three.black.reroll {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.Die-faces.four, .Die-faces.four.black.reroll {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.Die-faces.five, .Die-faces.five.black.reroll {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.Die-faces.six, .Die-faces.six.black.reroll {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.Die-faces.one.black, .Die-faces.one.reroll {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.Die-faces.two.black, .Die-faces.two.reroll {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.Die-faces.three.black, .Die-faces.three.reroll {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.Die-faces.four.black, .Die-faces.four.reroll {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.Die-faces.five.black, .Die-faces.five.reroll {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.Die-faces.six.black, .Die-faces.six.reroll {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

.Die-face.one {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(2vw);
}
.Die-face.two {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(2vw);
}
.Die-face.three {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(2vw);
}
.Die-face.four {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(2vw);
}
.Die-face.five {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(2vw);
}
.Die-face.six {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(2vw);
}

.Die-pip.one {
  grid-area: 1/1;
}
.Die-pip.three {
  grid-area: 1/3;
}
.Die-pip.four {
  grid-area: 2/1;
}
.Die-pip.five {
  grid-area: 2/2;
}
.Die-pip.six {
  grid-area: 2/3;
}
.Die-pip.seven {
  grid-area: 3/1;
}
.Die-pip.nine {
  grid-area: 3/3;
}

